/* Universal Style */

@font-face {
    font-family: 'individigitaldemibold';
    src: url('../fonts/individigital_demibold-webfont.woff2') format('woff2'),
         url('..fonts/individigital_demibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Karla';
    src: url('../fonts/karla-regular-webfont.woff2') format('woff2'),
         url('../fonts/karla-regular-webfont.woff2') format('woff'),
         url('../fonts/karla-bold-webfont.woff2') format('woff2'),
         url('../fonts/karla-bold-webfont.woff') format('woff'),
         url('../fonts/karla-italic-webfont.woff2') format('woff2'),
         url('../fonts/karla-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    height:100%;
}

body {
    font-family: 'Karla', normal;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-top:90px;
    transition: all 0.5s ease-in-out;
    z-index:999;
}

a {
    text-decoration: none;
    color: #4f6070;
    padding-top:-40px;
}

a:hover {
    color:#5ac0c5;
  }

p {
    line-height: 1.5em;
    margin-bottom: 1em;
}

h1 {
    color: #4f6070;
    font-weight: 600;
    font-size: 3em;
}

h2 {
    color: #4f6070;
    font-size:2.5em;
    padding-bottom: .1em;
    font-weight:500;
  }

h3 {
    color:#5ac0c5;
    font-size:1.5em;
    padding-bottom: .2em;
    font-weight:400;
}

h4 {
    color: #4f6070;
    font-size: 1.3em;
    font-weight:600;
}

h5 {
    color: #000;
    font-size: 1.3em;
    padding-bottom:.3em;
}

img {
    max-width: 100%;
}

.break {
    flex-basis:100%;
    height:25px;
}

.anchor {
    scroll-margin-top:90px;
}

#dimmer {
    transition: all 0.5s ease-in-out;
}

/* Horizontal Nav */

.nav-main {
    width: 100%;
    height:90px;
    background-color: #fff;
    display: flex;
    z-index: 1000;
    padding-right: 10px;
    overflow: hidden;
    position: fixed;
    top:0;
    box-shadow: 0 2px 3px rgba(0,0,0, .4);
}

.nav-main li a:hover {
    color: #5ac0c5;
}

.nav-main ul {
    display: flex;
    flex-wrap: wrap;
    padding-left: 15px;
    display:none;
}

.nav-main ul li {
    list-style: none;
    line-height: 60px;
}

.nav-main ul li a {
    display: block;
    height: 100%;
    padding: 15px 18px;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Karla', normal;
    font-size: 1em;
}

.nav-title {
    display:flex;
    font-size: 1.75em;
    padding: 15px 0;
    line-height:60px;
    white-space: nowrap;
    order:1;
    font-family: 'individigitaldemibold';
    font-weight:500;
}

.nav-title a:hover {
    color:#5ac0c5;
}


/* Vertical Nav */

.nav-sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 90px;
    height: calc(100vh - 90px);
    background-color: #1b1b1b;
    z-index: 1000;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
    z-index:9999;
}

.nav-sidebar ul {
    overflow: hidden;
    text-align: center;
}

.nav-sidebar ul li {
    line-height: 60px;
    list-style: none;
}

.nav-sidebar span {
    display: block;
    padding: 15px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-family: 'karla', normal;
    font-weight: 700;
    font-size: 2em;
    white-space: nowrap;
}

.nav-sidebar ul li a {
    display: block;
    height: 60px;
    padding: 0 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-family: 'karla', normal;
    font-size: 1em;
    white-space: nowrap;
}

.nav-sidebar a:hover {
    color: #5ac0c5;
}

.menu-btn {
    margin-top: 2.5em;
    display: flex;
    margin-left:25px;
    width: 70px;
    height: 70px;
    cursor: pointer;
    transition: all .5s ease-in-out;
}

.menu-btn_burger {
    width: 50px;
    height: 6px;
    background: #000;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before,
.menu-btn_burger::after {
    content: "";
    position: absolute;
    width: 50px;
    height: 6px;
    background: #000;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.menu-btn_burger::before {
    transform: translateY(-16px);
}

.menu-btn_burger::after {
    transform: translateY(16px);
}

/* Button Animation */

.menu-btn.open .menu-btn_burger {
    background: transparent;
    box-shadow: none;
}

.menu-btn.open .menu-btn_burger::before {
    transform: rotate(45deg);
}

.menu-btn.open .menu-btn_burger::after {
    transform: rotate(-45deg);
}

/* Banner */

.banner {
    display:flex;
    align-items: center;
    position: sticky;
    overflow: hidden;
    min-height: 700px;
    width: 100%;
}

.banner-slide {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
  }

.banner-slide.current {
    opacity: 1;
}

.buttons button#next {
    position: absolute;
    top: 45%;
    right: 15px;
}

.buttons button#prev {
    position: absolute;
    top: 45%;
    left: 15px;
}

.buttons button {
    border: 2px solid #fff;
    background-color: transparent;
    color: #fff;
    cursor: pointer;
    padding: 13px 15px;
    border-radius: 50%;
    outline: none;
}

.buttons button:hover {
    background-color: #fff;
    color: #333;
}

.banner-slide:nth-child(2) {
    background: url('../img/slider-1.jpg') no-repeat center center/cover fixed;
}

.banner-slide:nth-child(3) {
    background: url('../img/slider-2.jpg') no-repeat center center/cover fixed;
}

.banner-slide:nth-child(4) {
    background: url('../img/slider-3.jpg') no-repeat center center/cover fixed;
}

.banner-slide:nth-child(5) {
    background: url('../img/slider-4.jpg') no-repeat center center/cover fixed;
}

.banner-slide:nth-child(6) {
    background: url('../img/slider-5.jpg') no-repeat center center/cover fixed;
}
  
.logo {
    margin: 0 auto 3em auto;
    z-index:10;
    width: 250px;
}

.tagline {
    font-size: 1em;
}

/* Row 1 aka Featured Article */

.row1 {
    background-color:#f8f9fd;
    padding:2em 2em 3em 2em;
}

.featured p {
    color: #4f6070;
}

.featured-img {
    max-width:250px;
    max-height:200px;
    flex-shrink: 0;
    margin: 0 auto;

  }

.page-buttons {
    padding: 1em 2em;
    background-color:#fed45c;
    color:#4f6070;
    border: none;
    border-radius: 5px;
    font-size: 13px;
    cursor: pointer;
}

.page-buttons:hover {
    background-color: #4f6070;
    color: #fff;
    transition: all 0.2s ease-in-out;
} 

.center {
    text-align:center;
    margin: 0 auto;
}

/* Row 2 */

.row2 {
    background-color:#4f6070;
    display:flex;
    padding: 2em 0 2em 0;
    justify-content: space-around;
    flex-direction: column;
    z-index:11;
    position: relative;
}

.stats {
    max-width: 170px;
    max-height: 80px;
    margin:1em auto;
}

.numbers {
    font-size: 70px;
    color:#5ac0c5;
}

/* Row 3 */

.col {
	padding-right: 1.5em;
    padding-left: 1.5em;
    color: #4f6070;
}

.about {
    margin: 0 auto;
    text-align: center;
    padding: 4em 1em 0 1em;
}

.row3 {
    padding-bottom:4em;
    background: #fff;
}

.row3 hr {
    margin: 1em auto;
    width: 10%;
}

.numbers2 {
    font-size: 60px;
    font-weight:700;
}

.tertiary a {
    color: darkred;
}

.array p {
    line-height:.5em;
}

.array hr {
    color: #000;
}

.array li:nth-child(even) {
    color:#5ac0c5;
}

#adjectives {
    font-size: 1.3em;
    line-height:1.3em;
    font-weight:600;
    list-style-type: none;
}

#last {
    font-size: 1.5em;
    line-height:1.5em;
    font-weight:600;
}

#last i {
    color:#5ac0c5;
    font-size: 1.3em;
}

/* Row 4 */

.row4 {
    width:100%;
    min-height:500px;
    background: #4f6070;
    padding-top:7em;
    transition: background-color 0.5s;
}

.testimonial {
    margin: auto;
    width: 90%;
    color: #fff !important;
    text-align: center; 
}

.testimonial h2 {
    font-size:1.7em;
}

.row4 hr {
    margin: 1em auto;
    width: 10%;
    color:white;
}

/* Row 5 */

.row5 {
    background-color:#f8f8f8;
    justify-content: space-evenly;
    padding: 4em 2em 4.5em 2em;
}

.row5 h2 {
    font-size:2.3em;
}

.col2 {
    padding-right: 1em;
	padding-left: 1em;
}

.featured-img-2 {
    flex-shrink: 0;
    position: relative;
    z-index:998;
  }

    
#myPopup {
    transition: all 1s ease-in-out;
}

.popup {
    display: none; 
    position: fixed; 
    z-index: 99999;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background: rgba(0,0,0,0.4);
    transition: all 1s ease-in-out;
}


.popup-content {
    background-color: #fefefe;
    margin: 20% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 70%; 
}
  
.close,
.close2,
.close3 {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close2:hover,
.close3:hover {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


/* Row 6 */

.row6 {
    padding: 4em 0 4em 0;
    background: #fff;
}

.row6 hr {
    margin: 1.2em auto;
    width: 15%;
    color:#000;
}

.row6 h1 {
    padding-bottom: .4em;
}

.contact,
.phone-email {
    text-align:center;
}

.contact {
    padding: 0 2em;
    margin: 0 auto;
    width:90%;
}

.row6 a {
    color:#5ac0c5;
}

.row6 a:hover {
    color: #4f6070;
}

.phone-email {
    display: flex;
    flex-direction: column;
    width: 70%;
    text-align:center;
    margin: 0 auto;
    align-content: center;
}

.phone,
.email {
    padding:2.5em 1em;
    width:100%;
}

#phoneIcon,
#emailIcon {
    font-size:4em;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    background: rgba(255,255,255,0.1);
    border: none;
    font-size: 16px;
    height: auto;
    margin: 0;
    outline: 0;
    padding: 15px;
    width: 100%;
    background-color: #e8eeef;
    color: #000;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
  }

select {
    padding: 6px;
    height: 32px;
    border-radius: 2px;
  }

/* Footer */

.footer {
    background: #4f6070;
    color: #fff;
    text-align: center;
    padding: 1.5em 0;
}

/* Media Queries */

@media (min-width: 769px) {
    .menu-btn,
    .menu-btn_burger,
    .nav-sidebar {
          display: none;
    }

    .nav-title {
        display:block;
        padding: 15px 0px 15px 30px;
    }

    .nav-main ul {
        display: flex;
        flex-direction: row;
    }

    .nav-main {
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction:row-reverse;
    }
 
    body {
        background: #fff !important;
    }

    .tagline {
        font-size: 1.3em;
    }

    .featured-img {
        max-width:300px;
        max-height:250px;
        margin: 4em .5em 0 3em;
        padding: 3.5em 1.5em 0 0;
    }

    .featured-img-2 {
        display:block;
        max-width:350px;
        max-height:350px;
        padding-top:5em;
    }

    .featured {
        margin-left:2em;
        width:60%;
      }


    .row1 {
        display:flex;
        padding: 2em 0 2em 0;
    }


    .row3 {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
        padding-top: 3em;
        padding-bottom:5em;
    }

    .row4 {
        display: flex;
        justify-content: center;
        padding:0;
        background: url('../img/testimonial-bkg.jpg') no-repeat center center/cover;
    }

    .row5 {
        display:flex;
        padding: 4em 2em;
    }

    .popup-content {
        margin: 16% auto; 
    }

    .row6 {
        display: flex;
        margin: 0 auto;
        flex-direction: column;
    }

    .testimonial {
        width: 70%;
    }

    .testimonial h2 {
        font-size:2em;
        }
    

    .col {
        flex: 1 50%;
    }

    .col2 {
        flex: 1;
    }
    

    .about {
        padding-top:1.5em;
    }

    .pricing {
        width:50%;
        padding-right:4em;
    }

    .phone-email {
        flex-direction: row;
    }

    .contact {
        width: 85%;
    }

    #dimmer {
        transition: all 0.5s ease-in-out;
        display: none;
    }

    .logo {
        margin: 0 auto 3em auto;
        z-index:10;
        width: 300px;
    }
}

@media (min-width: 1030px) {
    .row1 {
        position: relative;
        z-index:10;
        width:85%;
        margin: -6em auto 5em; 
    }

    .row2 {
        z-index:5;
        margin-top:-6.5em;
        flex-direction:row;
        padding: 4.5em 0 4em 0;
    }

    .row3 {
        width:80%;
    }

    .row5 {
        padding: 4em 0;
    }
    
    .col {
        flex-basis: 0;
    }

    .banner {
        margin-bottom: 2.5em;
    }

    .testimonial {
        width: 50%;
    }

    .featured-img {
        max-width:350px;
        max-height:300px;
        margin: 1em 0 0 3em;
        padding: 3.5em 2em 0 0;
    }

    .featured-img-2 {
       padding-top:1.5em;
    }

    .primary2 {
        flex: 2;
    }
    
    .contact {
        width: 75%;
    }

    .popup-content {
        margin: 8% auto; 
    }
}


@media (max-width: 900px) {


    .pricing {
        width:100%;
    }

    .featured-img-2 {
        max-width:250px;
        max-height:250px;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {

    .featured-img-2 {
        max-width:175px;
        max-height:175px;
        padding-top:2em;
    }
}

